.container{
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
button{
    margin:1px;
    flex: 1;
  }
}
.error{
  width:100%;
}